{% extends 'layout.html' %}

{% block dashboard %}
  <h3 style="margin-top: 10px;">offer new debit</h3>
  <section class="dibit-manager">
    <form action="/debit" method="POST">
      <div class="form-floating mb-3">
        <input type="text" name="name-to" style="background: none; color: #fff;" autocomplete="off" class="form-control" id="floatingInput" placeholder="">
        <label for="floatingInput">enter the name of recipient</label>
        <small style="color: red;"><i class="uil uil-shield-exclamation"></i>using the name that already has debit for you will update anexisisting one</small><br>

      </div>
      <div class="form-floating">
        <input type="text" name="amount" style="background: none; color: #fff;" class="form-control" id="floatingPassword" placeholder="amount offered">
        <label for="floatingPassword">debit amount</label>
      </div>
      <div class="recommended">
        <input class="form-control" name="phone" style="color: #fff;background: none;" type="text" placeholder="recipient phone or email" aria-label="default input example">
        <small style="color: #ffffffb0;"><i class="uil uil-shield-exclamation"></i>optional but recommended</small><br>
        <input class="form-control"  name="payback" type="text" style="color: #fff;background: none;" placeholder="payback time expected(YYYY-MM-DD)" aria-label="default input example">
        <small style="color: #ffffffb0;"><i class="uil uil-shield-exclamation"></i>optional but recommended</small><br>
      </div>
      <button type="submit" class="btn btn-primary btn-lg">confirm debit</button> <br>
    </form>
    {% block debitMessages %}
      {% with messages = get_flashed_messages(with_categories=True) %}
          {% if messages %}
              <div class="reg-message">
                  <ul>
                  {% for category, message in messages %}
                      <small class="{{ category }}">* {{ message }}</small>
                  {% endfor %}
                  </ul>
              </div>
          {% endif %}
      {% endwith %}
    {% endblock %}
  </section>
{% endblock %}