{% extends 'main.html' %}

{% block main %}
    <main>
        <div class="we">
            <h1>inovative platiform for micro business</h1>
            <p>Sign up or log in to manage your business with us for free. Upgrade to premium for additional features and enhanced support.</p>
            <a href="/register"><button type="button" class="btn btn-primary btn-lg">register</button></a>
            <a href="/verify"><button type="button" class="btn btn-secondary btn-lg">login</button></a>
        </div>
    </main>
{% endblock %}

{% block services %}
    
{% endblock %}
