{% extends 'main.html' %}
{% block main %}
  <section class="updates">
    <div class="side-bar">
      <div>
        <a href="/dashboard"><i class="uil uil-layer-group"></i> dashboard</a><br>
        <a href="/debit"><i class="uil uil-notes"></i><small> offer Debit</small></a><br>
        <a href=""><i class="uil uil-box"></i><small> RecordPayback</small></a><br>
        <a href=""><i class="uil uil-bell"></i><small> notifications</small></a><br>
        <a href=""><i class="uil uil-file-export"></i><small> export file</small></a><br>
        <a href="#" ><i class="uil uil-robot"></i><small> skim AI</small></a><br>

      </div>
    </div>
    <div class="basic-cards">
      <div class="search">
        <form action="/search">
          <input type="text" name="search" placeholder="search" autocomplete="off" id="search">
          <button type="button" class="btn btn-primary btn-lg">search</button>
        </form>
      </div>
        <div class="container text-center">
            <div class="row">
              <div class="col basic">
                <i class="uil uil-analysis"></i><br>
                <div><h6>total debits</h6></div>
                <h3>{{total_debit}}</h3><br>
                <h5 style="color: #ffffff8f;">your daily limit for debit is </h5>
              </div>
              <div class="col basic">
                <div style="text-align: center; padding: 10px 12px;">
                  <i class="uil uil-padlock"></i><br>
                  <h5 style="color: red;">This is a premium feature</h5>

                </div>
              </div>
              <div class="col basic">
                total sales
              </div>
            </div>

            {% block dashboard %}
      
            {% endblock %}
        </div>
    </div>
    <div class="left-col">
      <h4>Recent updates</h4>
      <div class="delays">
        <ul>
          <li>Nadia has overdue payment</li>
          <li>Nancy has overdue payment</li>
          <li>....</li>
        </ul>
      </div>
      <div class="delays">
        <ul>
          <li>Nadia's payback debit delayed</li>
          <li>Nancy is suppposed to payback</li>
          <li>....</li>
        </ul>
      </div>
      <h4>analytics</h4>
      <div class="delays">
        <ul>
          <li>Nadia's payback debit delayed</li>
          <li>Nancy is suppposed to payback</li>
          <li>....</li>
        </ul>
      </div>
  </div>
  </section>
{% endblock %}