{% extends 'main.html' %}

{% block main %}
    <div class="register">
        <form action="/verify" method="POST">
            <div class="signup" style="padding: 30px; border-radius: 7px;" >
                <div class="card-header">
                    <h4>wellcome back to shopMS community</h4> <br>
                </div>
                <hr>
                <h3>check me in / <a href="/register">register</a></h3><br> 
                <input class="form-control"  name="email" type="text" style="color: #fff;background: none;" placeholder="shop Email" aria-label="default input example"> <br>
                <button type="submit" class="btn btn-primary btn-lg">continue</button><br>
                {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                        <div class="reg-message">
                            <ul>
                            {% for category, message in messages %}
                                <small class="{{ category }}">* {{ message }}</small>
                            {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                {% endwith %} 
                <br><br>
                <a href="#"><small>terms of use </small></a> | <a href="#"><small>privacy policy</small></a>
            </div>
        </form>
    </div>

{% endblock %}