{% extends 'main.html' %}

{% block main %}
    <div class="register">
        <form action="/login" method="POST">
            <div class="signup" style="padding: 30px; border-radius: 7px;" > 
                <h3>shopMS</h3>
                <h3>login</h3><br>
                <h5 style="color: #ffffffb2;">user: {{user_email}}</h5>
                <input class="form-control"  name="email" type="email" style="color: #fff;background: none;" placeholder="your email" dissabled aria-label="default input example"> <br>
                <button type="submit" class="btn btn-primary btn-lg">submit</button><br> <br>
                <a href="/reset_passworld">login</a> <br> <br>
                {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                        <div class="reg-message">
                            <ul>
                            {% for category, message in messages %}
                                <small class="{{ category }}">* {{ message }}</small>
                            {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                {% endwith %}
            </div>
        </form>
    </div>

{% endblock %}