{% extends 'layout.html' %}
{% block dashboard %}
  <h3 style="text-align: center;">Recent  transactions</h3>
  <div class="row pay-mode" style="margin: 20px 10px;">
    <div class="col data">
      <ul>
        <h6>transaction time</h6>
        {% for activity in show_logs %}
          <li>{{activity[2]}} </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col data">
      <ul>
        <h6>name</h6>
        {% for recipient in recipients %}
                <li>
                    <a href="{{ url_for('recipient_profile', recipient_id=recipient[0]) }}" class="recipient-info" data-recipient-id="{{ recipient[0] }}">
                        {{recipient[1]}}
                    </a>
                </li>
          {% endfor %}

      </ul>
    </div>
    <div class="col data">
      <ul>
        <h6>payMode</h6>
        {% for activity in show_logs %}
          <li>{{paymode}}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="col data">
      <ul>
        <h6>amount</h6>
        {% for recipient in recipients %}
          <li>${{recipient[2]}} </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}