{% extends 'main.html' %}

{% block main %}
    <div class="register">
        <form action="/register" method="POST">
            <input type="text" placeholder="your name" name="username"><br>
            <input type="email" placeholder="your email" name="email"><br>
            <input type="password" name="password" id="" placeholder="password"><br>
            <input type="password" name="check-password" id="" placeholder="password"><br>
            <button type="submit" class="btn btn-primary btn-lg">register</button><br>
        </form>
    </div>
{% endblock %}

{% block flash_register_message %}
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <div class="reg-message">
                <ul>
                {% for category, message in messages %}
                    <small class="{{ category }}">* {{ message }}</small>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endwith %}
{% endblock %}